.event__container {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px 0;
    background-color: white;
}

.event__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    width: 20vw;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    > span:first-child {
        font-weight: 500;
        font-size: 22px;
    }
}

.event__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 20px;
    width: 60vw;
}

.event__name {
    margin-left: 2px;
    width: 40vw;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 50px;
    margin-bottom: 10px;
}

.event__participants {
    display: flex;
    align-items: center;
}

.event__participants-counter {
    font-size: 12px;
    margin-left: 2px;
}

.event__participate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
    margin: 10px 25px;
    border-radius: 4px;
    font-size: 28px;
    padding: 5px;
}

.event__participate--leave {
    background-color: var(--ion-color-danger);
}

.event__participate--join {
    background-color: var(--color-app-logo-green);
}

.event__participate--loading {
    opacity: .5;
    pointer-events: none;
}
