.main-content[data-platforms*=ios] {
    margin-top: calc(env(safe-area-inset-top) + var(--toolbar-padding-ios));
    margin-bottom: env(safe-area-inset-bottom);
    height: calc(
        100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) -
            var(--toolbar-padding-ios)
    );
}

.main-content {
    margin-top: calc(env(safe-area-inset-top) + var(--toolbar-padding-md));
    margin-bottom: env(safe-area-inset-bottom);
    height: calc(
            100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) -
            var(--toolbar-padding-md)
    );
}

.main-content > div {
    height: 100% !important;
}

.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #a19f9f solid;
    margin: 0 10px;
}

.header h3 {
    font-weight: 600;
    color: var(--color-app-logo-grey);
}

.header span {
    font-weight: 400;
    color: var(--color-app-logo-green);
}

.header__logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40%;
    width: 100%;
}

.button {
    --background: var(--color-app-logo-green);
	--background-hover: var(--color-app-logo-green-darker);
    --background-activated: var(--color-app-logo-green-darker);
    --border-radius: 0;
    margin: 0;
}

.button.secondary {
    --background: var(--color-app-logo-grey);
	--background-hover: var(--color-app-logo-grey-darker);
    --background-activated: var(--color-app-logo-grey-darker);
}

.spinner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

hr {
    background-color: black;
    opacity: .4;
    margin: 10px 0;
}


